
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_userLayout.cshtml";
}

<section id="container">
    <div class="basaran">
        <div class="wrap-container clearfix">
            <div id="main-content">
                <div class="wrap-box">
                    <!--Start Box-->
                    <div class="header">

                        <center><h1>Biz Kimiz?</h1></center>

                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam tincidunt tincidunt placerat. Curabitur blandit posuere tortor hendrerit dictum. Integer et mattis ex. Sed eleifend ante vitae nunc finibus dignissim. Suspendisse hendrerit, ex id dictum sagittis, velit lacus consectetur lectus, non interdum ex dolor ut neque. Donec vel dictum nisi. Curabitur tincidunt purus sem, at gravida dui aliquam in. Aenean in urna ut erat porta convallis vitae vel libero. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nulla consectetur et massa quis placerat. Etiam augue ligula, faucibus eget odio vel, dapibus euismod lacus.</p>
                    </div>
                    <div class="row">
                        <div class="col-2-4">
                            <div class="wrap-col">
                                <div class="contact">
                                    <div class="contact-header" style="background-color:black">
                                        <center><h3 style="color:white;">Vizyonumuz</h3></center>

                                    </div>
                                    <p>Nunc at luctus ligula, vitae tempor libero. Vivamus molestie velit eu tellus pretium placerat. Nulla a est id odio ornare finibus. Vivamus ultricies egestas purus, vitae porttitor lorem. Donec lobortis venenatis eros, nec viverra magna cursus quis. Curabitur ut libero ut quam blandit placerat. Cras convallis euismod felis in commodo.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-2-4">
                            <div class="wrap-col">
                                <div class="contact-header" style="background-color:black">
                                    <center><h3 style="color:white;">Misyonumuz</h3></center>
                                </div>
                                <p>Pellentesque quis mi lobortis, blandit elit lobortis, placerat turpis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras diam nunc, efficitur ut elementum ut, pulvinar non tellus. Curabitur ante erat, congue vel maximus nec, finibus in metus. Mauris ullamcorper mollis enim, at lobortis diam egestas non.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

