
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_userLayout.cshtml";
}

<section id="container">
    <div class="basaran">
        <div class="wrap-container clearfix">
            <div id="main-content">
                <div class="wrap-box">
                    
                    <div class="row">
                        
                        <div class="col-1-3">
                            <div class="wrap-col">
                                <div class="contact">
                                    <div class="contact-header" style="background-color:black">
                                        <h5>İletişim</h5>
                                    </div>
                                    <p>Telefon : 0555 444 33 22</p>
                                    <p>Email : deneme@domain.com</p>
                                    <p>Adres : Proin blandit elementum lorem eget ultricies. Sed pharetra tellus ante, quis mollis metus dictum placerat. Donec et leo ac tellus fermentum sagittis id eget urna.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-2-3">
                            <div class="wrap-col">
                                <div class='embed-container maps'>
                                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3064.4813017583424!2d32.560342015343146!3d39.81862537943916!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14d317c30f845953%3A0x5f3e95544c6eecc7!2s%C3%87ankaya%20%C3%9Cniversitesi!5e0!3m2!1str!2str!4v1631205015153!5m2!1str!2str" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

