
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <title>404 HTML Tempalte by Colorlib</title>


    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,900" rel="stylesheet">

    <link type="text/css" rel="stylesheet" href="~/Templates/ErrorPage404/css/style.css" />
    <link rel="icon" href="~/Templates/images/logo.ico" type="image/x-icon">
</head>

<body>

    <div id="notfound">
        <div class="notfound">
            <div class="notfound-404">
                <h1>Oops!</h1>
            </div>
            <h2>404 - Sayfa Bulunamadı</h2>
            <p>Aradığınız sayfa kaldırılmış, değiştirilmiş veya geçici bir süre kullanım dışıdır</p>
            <a href="/UserView/Index/">Anasayfaya Git</a>
        </div>
    </div>

</body>

</html>
